/* General */
body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

/* Heading */

.jumbotron {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: top;
    justify-content: center;
    
}

.logo {
    display: flex;
    height: 8em;
    width: 23em;
    align-items: center;
    justify-content: left;
}

 /* Search Request */
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

 /* Search Results */

.results {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 10em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

